* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;
}

body {
    background-color: black;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

.logoScore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 3em;
  color: white;
}

.image {
    width: 80%;
}

.score {
  display: inline-block;
  width: 80%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}


.startImage {
  max-width: 100%;
}
fieldset {
    border: 0;
    margin-bottom: 2em;
}

.submitAnswer {
  text-align: left;
  width:  80%;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.submitAnswerButton {
  text-align: center;
  margin-bottom: 2em;
}

.questionText {
    margin-bottom: 1em;
    font-size: 2em;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    font-size: 50%;
    background: gray;
    width: 80%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.questionImage {
    width: 50%;
    margin-top: 2em;
    margin-bottom: 1.5em;
    border: 1px solid black;
}

p {
    margin-bottom: 1em;
}

input[type=radio] {
  float: left;
}

label {
  margin-left: 30px;
  display: block;
}

button { 
    background-color: #4CAF50;
    border: 1px solid black;
    color: white; 
    padding: 10px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.goodScore {
  height: 15%;
  width: 15%;
}

.startButton {
    margin-bottom: 2em;
    font-size: 100%;
    width: 80%;
}

.restartButton {
    margin-bottom: 2em;
}

.inputButton {
    font-size: 1.5em;
}


@media only screen and (min-width: 550px) {
  .container {
    font-size: 100%;
  }
  
  .submitAnswer {
    font-size: 80%;
  }
}

@media only screen and (min-width: 800px) {
  .image {
    width: 50%;
  }

  .score {
    width: 50%;
  }

  .container {
    width: 50%;
  }
  
  .score {
    font-size: 150%;
  }

  button {
    padding: 20px 60px;
  }

  .container {
    height: 50%;
  }

  .submitButton, .restartButton {
    font-size: 18px;
  }
}


