* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    /* display: flex;
    flex-direction: column; */
    /*background-color: black;*/
    /* color: #136207; */
}

body {
    background-color: black;
}

/* header {
  width: 100%;
  text-align: center;
}

.logo {
  display: inline-block;
  margin: 0 auto;
  width: 50%;
} */

/* ul {
  text-align: right;
  margin-right: 3em;
  font-size: 2em;
} */

.logoScore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  text-align: center;
  margin-top: 3em;
  color: white;
}

.image {
    width: 50%;
}

.score {
  display: inline-block;
  width: 50%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}


.startImage {
  max-width: 100%;
}
fieldset {
    border: 0;
    margin-bottom: 2em;
}

/* fieldset input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* On mouse-over, add a grey background color */
/* .inputButton:hover input ~ span {
  background-color: #ccc;
}

.inputButton input:checked ~ span {
  color: #2196F3;
} */
.submitAnswer {
  text-align: left;
  width:  50%;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.submitAnswerButton {
  text-align: center;
  margin-bottom: 2em;
}

.questionText {
    margin-bottom: 1em;
    font-size: 2em;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    font-size: 50%;
    background: gray;
    width: 50%;
    /* height: auto;
    width: 50%; */
}

.questionImage {
    width: 50%;
    margin-top: 2em;
    margin-bottom: 1.5em;
    border: 1px solid black;
}

p {
    margin-bottom: 1em;
}

button { 
    background-color: #4CAF50; /* Green */ 
    border: 1px solid black;
    color: white; 
    padding: 10px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.goodScore {
  height: 15%;
  width: 15%;
}

.startButton {
    margin-bottom: 2em;
    font-size: 100%;
    width: 80%;
}

.restartButton {
    margin-bottom: 2em;
}

.inputButton {
    font-size: 1.5em;
}






